body{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: rgb(123,44,54);
    width: 100%;
    z-index: 9999;
}

.container{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    padding-left: 16px;
    align-items: center;
}
.logo-container h4{
    margin-top: 10px;
    padding-right: 4px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.logo-container h4 span{
    font-size: 5px;
    font-weight: 400;
}
.nav-btn{
    flex: 5;
    display: flex;
}

.nav-links{
    flex: 4;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 8px;
    transition: .3s;
    text-transform: uppercase;
}

.btn.transparent:hover{
    background: rgb(199,140,108);
}

.btn.transparent{
    color: #fff;
    line-height: 53px;
}
.btn.transparent img{
    vertical-align: middle;
}
.btn.transparent a{
    color: #fff;
    height: 100%;
    text-align: center;
    line-height: 100%;
    
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 53px;
    color: #fff;
    padding: 0 13px;
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.btn.transparent>a>i,.nav-link > a > i{
    margin-left: 3px;
}

.nav-link:hover > a{
    background: rgb(199,140,108);
}
#present{
    background: rgb(199,140,108);
}
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
    height: 100%;
}

.dropdown-link > a{
    display: flex;
    background-color: rgb(123,44,54);
    color: #ffffff;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color:rgb(199,140,108);
    color: #fff;
}



.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: rgb(123,44,54);
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color:rgb(199,140,108);
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    width: 115%;
    padding-left: 13px;
    cursor: pointer;
    transform: translateX(10px);
    align-items: center;
    justify-content: space-between;
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-start;
}

.hamburger-menu{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10;
}

.hamburger-menu div{
    width: 26px;
    height: 3px;
    border-radius: 3px;
    background-color:rgb(250,205,145);
    position: relative;
    z-index:10000;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(250,205,145);
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1450px){
    .box3{
        top: 60px;
    }
    header{
        height: 56px;
        padding-top: 6px;
        background-color: #fff;
    }
    #erweima1{
        position: absolute;
        top: 60px;
        right: 10px;
        display: none;
        z-index: 10001;
        width: 60px;
        height: 60px;
    }
    .logo-container{
        display: none;
    }
    .logo-container1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .logo-container1 img{
        width: 22px;
    }
    .logo-container1 h4{
        margin-top: 3px;
        text-align: center;
        color:black;
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
    }
    
    .logo-container1 h4 span{
        font-size: 10px;
        font-weight: 400;
    } 
    .mc1{
        width: 30px;
    }
    .mc1 img{
        height: 26px;
    }
    .hamburger-menu-container{
        display: flex;
        justify-content: space-between;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 54px);
        top: 54px;
        left: 0;
        width: 100%;
        background-color: rgb(123,44,54);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 24px 32px;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: rgb(199,140,108);
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: rgb(178,62,52);
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 19px 32px;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 19px 32px 19px 32px;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 19px 32px 19px 64px;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: rgb(123,44,54);
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: rgb(199,140,108);
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: rgb(199,140,108);
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: rgb(199,140,108);
    }

    .nav-link > a > i{
        font-size: 18px;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }
    .log-sign{
        position: sticky;
        bottom: 0;
        flex: initial;
        width: 100%;
        background: rgb(123,44,54);
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 1;
    }
}
.box3{
    position: fixed;
    top:60px;
    right: 2vmin;
    z-index: 600;
}
.circle li{
    width: 10vmin;
    height: 10vmin;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 2vmin;
    font-size: 3vmin;
    color: white;
    line-height: 10vmin;
}
@media (max-width: 700px){
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: none;
    }
    .nav-link i{
        display: none;
    }
}